/* =======Reset styles======= */
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

/* General settings */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

:root {
  --primary-title-color: #2e2f42;
  --secondary-title-color: #ffffff;
  --primary-text-color: #434455;
  --secondary-text-color: #e7e9fc;
  --main-background-color: #ffffff;
  --secondary-background-color: #2e2f42;
  --alternative-background-color: #f4f4fd;
  --primary-btn-color: #4d5ae5;
  --secondary-btn-color: #404bbf;
  --secondary-navlink-color: #404bbf;
  --primary-filter-btn-color: #f4f4fd;
  --secondary-filter-btn-color: #404bbf;
  --primary-filter-btn-textcolor: #4d5ae5;
  --secondary-filter-btn-textcolor: #ffffff;
  --subtle-text-color: #8e8f99;
  --success-color: #31d0aa;
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  background-color: var(--main-background-color);
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* MAIN PAGE styles */

/* 1. Header */
/* 1.1 The logo */

.header {
  background-color: var(--main-background-color);
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo-header {
  padding-top: 24px;
  padding-bottom: 24px;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: #2e2f42;
}

.web {
  color: #4d5ae5;
}

/* 1.2 Navigation between site pages*/

.main-nav {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
  margin-left: 76px;
  gap: 40px;
}

.navigation-item {
  position: relative;
}

.navigation-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 500;
  color: var(--primary-title-color);

  transition: color var(--timing-function);
}

.current::after {
  position: absolute;
  display: block;
  content: "";

  width: 100%;
  height: 4px;
  bottom: -1px;
  background-color: var(--secondary-navlink-color);
  border-radius: 2px;
}

.navigation-link:hover,
.navigation-link:focus,
.current {
  color: var(--secondary-navlink-color);
}

/* 1.3 Address mail & tel */

.contacts {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-adr {
  margin-left: auto;
}

.contact-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color var(--timing-function);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--secondary-navlink-color);
}

/* 2. Main */
/* 2.1 The slogan & order sevice */

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0 auto;
  max-width: 1440px;

  text-align: center;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/main/background/hero-bcgd.jpg);
  background-color: var(--secondary-background-color);
}

.hero-title {
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 498px;

  color: var(--secondary-title-color);
  font-size: 56px;
  line-height: 1.07;
}

.hero-button {
  padding: 16px 32px;

  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--primary-btn-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;

  transition: background-color var(--timing-function);
}

.hero-button:hover,
.hero-button:focus {
  color: #ffffff;
  background-color: var(--secondary-btn-color);
}

/* 2.2 Competencies & our features */

.features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-list-item {
  flex-basis: calc((100% - 72px) / 4);
}

.features-icon-wrap {
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 8px;

  background-color: var(--alternative-background-color);
  border-radius: 4px;
}

.features-icon {
  width: 64px;
  height: 64px;
}

.section-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--primary-title-color);
}

/* 2.3 Occupation & our team */

.occupation {
  padding-bottom: 120px;
}

.occupation-list {
  display: flex;
  gap: 24px;
}

.occupation-list-item {
  flex-basis: calc((100% - 48px) / 3);
}

.section-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--primary-title-color);
}

.team {
  padding-top: 120px;
  padding-bottom: 120px;

  background-color: var(--alternative-background-color);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list-item {
  flex-basis: calc((100% - 72px) / 4);

  background-color: var(--main-background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.teamcard-info {
  padding: 32px 16px;
  text-align: center;
}

.team-list-text {
  margin-bottom: 8px;
}

/* 2.3.1 ====Social media==== */

.soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.soc-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-btn-color);

  transition: background-color var(--timing-function);
}

.soc-list-link:hover,
.soc-list-link:focus {
  background-color: var(--secondary-btn-color);
}

.soc-list-icon {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}

/*2.4 Customers */

.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.customers-list-item {
  flex-basis: calc((100% - 120px) / 6);
}

.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 88px;

  border: 1px solid var(--subtle-text-color);
  border-radius: 4px;
  transition: border-color var(--timing-function);
}

.customers-list-link:hover,
.customers-list-link:focus {
  border-color: var(--secondary-btn-color);
}

.customers-list-icon {
  width: 104px;
  height: 56px;
  fill: var(--subtle-text-color);
  transition: fill var(--timing-function);
}

.customers-list-link:hover .customers-list-icon,
.customers-list-link:focus .customers-list-icon {
  fill: var(--secondary-btn-color);
}

/* 3. Footer */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--secondary-background-color);
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #f4f4fd;
}

.footer-text {
  margin-top: 12px;
  max-width: 264px;

  color: var(--secondary-text-color);
}

.footer-container {
  display: flex;
}

.footer-info {
  margin-right: 120px;
}

.footer-soc {
  margin-right: 80px;
}

.footer-subtitle {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;

  color: var(--secondary-title-color);
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-soc-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: #ffffff1a;
  transition: background-color var(--timing-function);
}

.footer-soc-list-link:hover,
.footer-soc-list-link:focus {
  background-color: var(--success-color);
}

.footer-soc-list-icon {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}

.subscribe-field {
  display: flex;
  align-items: center;
}

.subscribe-input {
  width: 264px;
  padding: 8px 16px;
  margin-right: 24px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--dark-color);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--secondary-filter-btn-textcolor);
  transition: border-color var(--timing-function);
}

.subscribe-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-input:focus {
  outline: none;
  border-color: var(--secondary-filter-btn-textcolor);
}

.subscribe-btn {
  display: flex;
  align-items: center;
  align-self: center;
  min-width: 165px;
  padding: 8px 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  color: var(--primary-filter-btn-color);
  background-color: var(--primary-btn-color);
  border: none;
  transition: background-color var(--timing-function);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--secondary-btn-color);
}

.subscribe-icon {
  fill: var(--secondary-filter-btn-textcolor);
  margin-left: 16px;
}
/* PORTFOLIO styles */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

/* 1. Navigation filter */
/* 1.1 Select buttons */

.filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filter-btn {
  padding: 12px 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-filter-btn-textcolor);
  background-color: var(--primary-filter-btn-color);
  border-color: #e7e9fc;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;

  transition: color var(--timing-function), border-color var(--timing-function),
    background-color var(--timing-function), box-shadow var(--timing-function);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--secondary-filter-btn-textcolor);
  border-color: transparent;
  background-color: var(--secondary-filter-btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*1.2 Select menu */

.select-menu {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.menu-item {
  flex-basis: calc((100% - 48px) / 3);
}

.menu-item-link {
  position: relative;

  display: block;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow var(--timing-function);
}

.menu-item-link:hover,
.menu-item-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.item-content {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;

  border: 1px solid #e7e9fc;
}

/* 1.3 ==== Overlay ==== */

.menu-item-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform var(--timing-function);

  padding: 40px 32px;
  color: #f4f4fd;
  background-color: #4d5ae5;
  background-blend-mode: soft-light;
  mix-blend-mode: normal;
}

.menu-item-link:hover .overlay,
.menu-item-link:focus .overlay {
  transform: translate(0, 0);
}

/* ========Modal widow ======== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--timing-function), visibility var(--timing-function),
    transform 1000ms;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: rotateY(180deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 408px;
  padding: 72px 24px 24px 24px;

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color var(--timing-function);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--secondary-btn-color);
}

.modal-close-btn-icon {
  width: 8px;
  height: 8px;
  transition: fill var(--timing-function);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--secondary-filter-btn-textcolor);
}

/* =========modal forms========= */

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-subtitle {
  margin-bottom: 14px;
  text-align: center;

  font-weight: 500;
  color: #2e2f42;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-input-desc {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-input-wrapper {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;

  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--timing-function);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--primary-btn-color);
}

.modal-form-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  width: 18px;
  height: 24px;

  fill: var(--primary-title-color);
  transition: fill var(--timing-function);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--primary-btn-color);
}

.comment-form-field {
  margin-bottom: 16px;
}

.modal-form-message {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;

  padding: 8px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--primary-title-color);
  transition: border-color var(--timing-function);
}

.modal-form-message::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--primary-btn-color);
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.policy-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color var(--timing-function),
    border-color var(--timing-function);
}

.modal-form-check:checked + .policy-icon {
  background-color: var(--secondary-btn-color);
  border-color: transparent;
}

.policy-checkmark-icon {
  fill: var(--secondary-filter-btn-textcolor);
  opacity: 0;
  transition: opacity var(--timing-function);
}

.modal-form-check:checked + .policy-icon .policy-checkmark-icon {
  opacity: 1;
}

.modal-form-check:focus + .policy-icon {
  border-color: var(--primary-btn-color);
}

.policy-descr {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}

.policy-descr-link {
  color: var(--primary-filter-btn-textcolor);
  text-decoration: underline;
}

.modal-submit-btn {
  align-self: center;
  padding: 16px 32px;
  width: 169px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--primary-btn-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;

  transition: background-color var(--timing-function);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: var(--secondary-btn-color);
}
