@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .mobile-menu-open-btn,
  .mobile-menu {
    display: none;
  }

  .current::after {
    position: absolute;
    display: block;
    content: "";

    width: 100%;
    height: 4px;
    bottom: -1px;
    background-color: var(--pressed-state-color);
    border-radius: 2px;
  }

  .navigation-list {
    margin-left: 120px;
  }

  .header-adr {
    padding-top: 24px;
  }

  .hero {
    padding-top: 112px;
    padding-bottom: 108px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background/tablet-bg.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and(min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/background/tablet-bg@2x.jpg);
    }
  }

  .hero-title {
    margin-bottom: 40px;

    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }

  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .features-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .features-subtitle {
    text-align: left;
  }

  /*==our team== */
  .team {
    padding-bottom: 104px;
  }

  .team-list {
    flex-direction: inherit;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }

  .team-list-item {
    width: 264px;
  }

  .teamcard-info {
    padding: 32px 16px;
  }

  /* ==customers== */
  .customers-list {
    column-gap: 24px;
  }

  .customers-list-item {
    width: calc((100% - 232px) / 3);
  }

  .customers-list-icon {
    width: 104px;
  }

  /* ==footer== */
  .footer-container {
    padding-left: 108px;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    align-items: flex-start;
  }

  .footer-info,
  .footer-subtitle {
    text-align: left;
  }

  .footer-text {
    width: 264px;
  }

  .footer-soc {
    margin-bottom: 0;
  }

  .subscribe-field {
    flex-direction: row;
  }

  .subscribe-input {
    width: 264px;
    margin-bottom: 0px;
    margin-right: 24px;
  }

  /* ==modal window== */
  .modal {
    max-width: 408px;
    padding-right: 24px;
    padding-left: 24px;
  }

  /* ==Portfolio== */
  .select-menu {
    column-gap: 24px;
  }
}
