@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .mobile-menu-open-btn,
  .mobile-menu {
    display: none;
  }

  .navigation-list {
    margin-left: 120px;
  }

  .header-adr {
    padding-top: 24px;
  }

  .hero {
    padding-top: 112px;
    padding-bottom: 108px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/background/tablet-bg.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and(min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/background/tablet-bg@2x.jpg);
    }
  }

  .hero-title {
    margin-bottom: 40px;

    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }

  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .features-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .features-subtitle {
    text-align: left;
  }

  /*==our team== */
  .team {
    padding-bottom: 104px;
  }

  .team-list {
    flex-direction: inherit;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }

  .team-list-item {
    width: 264px;
  }

  .teamcard-info {
    padding: 32px 16px;
  }


}
